
.backgroundContainer {
    background: linear-gradient(to right bottom, #50A3A2 0%, #53E3A6 100%) repeat scroll 0% 0% transparent;
    background-color: transparent;
    background-image: linear-gradient(to right bottom, #50A3A2 0%, #53E3A6 100%);
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;

    width: 100%; 
    min-height: 400px;
    text-align: center;
    vertical-align: middle;
}
.userInfoContainer{
    background: transparent linear-gradient(to right bottom, #50A3A2 0%, #87FFCC 100%) repeat scroll 0% 0%;

    width: 60%; 
    text-align: left;
    vertical-align: top;

}

.backgroundContainer h1 {
    font-size: 40px;
    transition-duration: 1s;
    font-weight: 200;
} 

.form {
    padding: 20px 0px;
    position: relative;
    z-index: 2;
}
.inputStyle{
    outline: 0px none;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(185, 180, 180, 0.2);  
    border-radius: 3px;
    padding: 10px 15px;
    margin: 0px auto 10px;
    display: inline-block;
    font-size: 18px;
    transition-duration: 0.25s;
    font-weight: 300;
}
.inputStylebigSize{
    width: 400px;
}
.form input {
    outline: 0px none;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.2);
    width: 250px;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 0px auto 10px;
    display: block;
    font-size: 18px;
    color: #FFF;
    transition-duration: 0.25s;
    font-weight: 300;
}
.form input.title {
    background-color: 'red';
}
.form button {
    outline: 0px none;
    background-color: #FFF;
    border: 0px none;
    padding: 10px 15px;
    color: #53E3A6;
    border-radius: 3px;
    width: 250px;
    cursor: pointer;
    font-size: 18px;
    transition-duration: 0.25s;
}
.buttonStyle{
    outline: 0px none;
    background-color: #CCF6E7;
    border: 0px none;
    padding: 10px 15px;
    color: #53E3A6;
    border-radius: 3px;
    cursor: pointer;
    font-size: 18px;
    transition-duration: 0.25s;
}
.form textarea {
    outline: 0px none;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.2);
    width: 250px;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 0px auto 10px;
    display: block;
    text-align: center;
    font-size: 18px;
    color: #FFF;
    transition-duration: 0.25s;
    font-weight: 300;

}

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
 .navbar-header1 {
    z-index : 10;
    float : right;
    margin-right: 20px;
}
 
 .navbar-header1 > .navbar-brand1 {
    margin-right: 5px;
 }

 .article {
    text-align: center;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    max-width: 730px;
    border: 1px solid red;
 }

.article-image{
    width: 240px;
    height: 170px;
    margin: 0px;
    
}
.article-abstrait{
    float: left;
    width: 65%;
    height: 200px;
    overflow: hidden;
}
.myalert{
    margin: 0 auto;
    width: 250px;
}
.blancfont{
    color: #FFF;
}
.petit{
    font-size: 10px;
}

#userId , #articleId, #logout, #username{
  display : none;
}
.uk-width-medium-3-4 {
    width: 75%;
}
.uk-grid {
    margin: 0px 0px 0px -25px;
    padding: 0px;
    list-style: outside none none;
}
.uk-grid:not(.uk-grid-preserve) {
    margin-left: -35px;
}
.uk-width-medium-1-1 {
    width: 100%;
}
.uk-panel-box {
    padding: 20px;
    background: #FAFAFA none repeat scroll 0% 0%;
    color: #444;
    border: 1px solid #DDD;
    border-radius: 4px;
    margin-top: 35px;
}
.uk-panel {
    position: relative;

}
.uk-panel-title {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    text-transform: none;
    color: #444;
}
.uk-width-medium-1-4 {
    width: 25%;
}
.uk-grid:not(.uk-grid-preserve) > [class*="uk-width-"] {
    padding-left: 35px;
}
.uk-grid > [class*="uk-width-"] {
    margin: 0px;
    padding-left: 25px;
    float: left;
}
.uk-container-center {
    margin-left: auto;
    margin-right: auto;
}
.uk-container {
    max-width: 1200px;
    padding: 0px 35px;
}
.uk-article-title {
    font-size: 36px;
    line-height: 42px;
    font-weight: 300;
    text-transform: none;
}
.uk-article-meta {
    font-size: 12px;
    line-height: 18px;
    color: #999;
}
.clear-float {
    clear: both;
}