

<div class="uk-container uk-container-center" data-ng-init='init()'>
  <input class="inputStyle inputStylebigSize" type="text" placeholder="Search My Articles" style="float:right;margin-right:400px;" ng-model = "searchText"></input>
  <button class="buttonStyle" ng-click="list()">Show all articles</button>
  <div class="tm-middle uk-grid">
    <div class="tm-main uk-width-medium-3-4">
      <div class="uk-grid data-uk-grid-match data-uk-grid-margin">
        <div class="uk-width-medium-1-1">
        <h1 align="center">This is your zone!</h1>
        <!--=========================article=======================================-->
          <article class="uk-article" style="overflow:hidden; *zoom:1;" ng-repeat="d in data | filter:searchText">
            <h1 class="uk-article-title" align='center'>{{d.title}}</h1>
            <p class="uk-article-meta">publié en {{d.createdAt}} par {{d.username}}</p>
            <div style="float:left;width:33%; margin-right:2%;">
              <image src="../images/{{d.image}}" style="width:240px; height:170px; margin:0;"></image>
            </div>
            <div style="float:left;width:65%; height:200px; overflow:hidden;">
              <p>{{d.content}}</p> 
              <div class="clear-float"></div>
               <button class="buttonStyle" ng-click="update({{d.id}})">Modifer</button>
              <button class="buttonStyle" ng-click="delete({{d.id}}, {{d.UserId}})">Delete</button>
            </div>           
          </article>
        <!--=========================Fin:article=======================================-->
        </div>
      </div>
    </div>
    

    <!--===========================siderbar========================================-->    
    <aside class="tm-sidebar-b uk-width-medium-1-4" >
      <div class="uk-panel uk-panel-box widget_text enhanced-text-widget">
        <h3 class="uk-panel-title">
          <i class=""></i>
             User Information
        </h3>
        <div class="textwidget widget-text">
          <div style="margin-left:-5px; margin-right:-15px;">
            <p style="margin:6px 0;">Name:{{userInfo.username}}</p>
            <p style="margin:6px 0;">Signup Time:{{userInfo.createdAt}}</p>
            <p style="margin:6px 0;" on-change="numArticle">Nomber of articles:{{numArticle}}</p>
          </div>
        </div>
      </div>

      <div class="uk-panel uk-panel-box widget_text enhanced-text-widget">
        <h3 class="uk-panel-title">
          <i class=""></i>
             Publish
        </h3>
        <div class="textwidget widget-text">
          <div style="margin-left:-5px; margin-right:-15px;">
            <textarea type="text" class="inputStyle" style="height:50px;width:100%;resize:none;margin:6px 0;" placeholder="Article Title" ng-model = "title"></textarea>
            <span style="width:100%;margin:6px 0; display :none" id = "errortitle">*The title is invalid!</span>
            <textarea class="inputStyle" style="height:200px;width:100%;resize:none;" placeholder="Please input your content" ng-model="content"></textarea>
            <span style="width:100%;margin:6px 0;display : none" id ="errorcontent">*The content is invalid!</span>
            <button class="buttonStyle"  style="margin-left:120px;" ng-click = "publish(title, content)">publish</button>
          </div>
        </div>
      </div>

    </aside>
    <!--===========================Fin:siderbar========================================--> 
  </div>
</div>
