<div class="uk-container uk-container-center" ng-controller="DetailCtrl" ng-init="init('hello')">
  <div class="tm-middle uk-grid">
    <div class="tm-main uk-width-medium-3-4" >
      <div class="uk-grid data-uk-grid-match data-uk-grid-margin">
        <div class="uk-width-medium-1-1">
        <!--=========================article=======================================-->
          <article class="uk-article" style="overflow:hidden; *zoom:1;">
            <h1 class="uk-article-title" align="center">{{data.title}}</h1>
            <p class="uk-article-meta">publié en {{data.createdAt}} par {{data.username}}</p>
            <div style="float:left;width:33%; margin-right:2%;">
              <image src="../images/article1.jpg" style="width:240px; height:170px; margin:0;"></image>
            </div>
            <div style="float:left;width:65%; height:200px; overflow:hidden;">
              <p>{{data.content}}</p> 
             <!--  <button class="buttonStyle">Modifer</button>
              <button class="buttonStyle">Supprimer</button> -->
              <div class="clear-float"></div>
            </div>           
          </article>
        <!--=========================Fin:article=======================================-->

        
          <h1 class=" uk-comment" id = "comments">Comments</h1>
          <h1 class=" uk-comment" id = "noComments" style="display:none">Comments</h1>
          <!--=========================commnets=======================================-->
          <comment style="overflow:hidden; *zoom:1;" ng-repeat = "comment in comments">           
            <p class="uk-article-meta">publié en {{comment.createdAt}} par {{comment.username}}</p>   
            <div>
              <p>{{comment.content}}</p> 
              <p>---------------------------------------------------------------------------------</p>
              <div class="clear-float"></div>
            </div>           
          </comment>
          <!--=========================Fin:commnets=======================================-->

          <!--=========================Ajouter comments=======================================-->

          <comment style="overflow:hidden; *zoom:1;">           
            <textarea id="commentArea" class="inputStyle inputStylebigSize " type="text"  placeholder="Please input your comments" style="width:100%; height:200px;resize:none;" ng-model="content"> </textarea>
            <button class="buttonStyle" id= "commentButton" style="float:right" ng-click="comment(content)">Comment</button>         
          </comment>
          <!--=========================Fin:Ajouter commnets=======================================-->



        </div>
      </div>
    </div>
    

    <!--===========================siderbar========================================-->    
    <aside class="tm-sidebar-b uk-width-medium-1-4" >
      <div class="uk-panel uk-panel-box widget_text enhanced-text-widget">
        <h3 class="uk-panel-title">
          <i class=""></i>
             Author Information
        </h3>
        <div class="textwidget widget-text">
          <div style="margin-left:-5px; margin-right:-15px;">
            <p style="margin:6px 0;">Name:{{user.username}}</p>
            <p style="margin:6px 0;">Signup Time:{{user.createdAt}}</p>
            <p style="margin:6px 0;">Nomber of articles:{{numArticles}}</p>
          </div>
        </div>
      </div>
    </aside>
    <!--===========================Fin:siderbar========================================--> 
  </div>
</div>
