
  <div class="backgroundContainer">
  </br>
  </br>
    <h1 class="blancfont">Welcome</h1>

    <form class="form" name="myform">
      <input type="email" placeholder="Email" value="" ng-model="email"></input>
      <input type="password" placeholder="Password" ng-model="pwd"></input>
      <button id="login-button"  ng-click="login(email, pwd)">Login</button>
    </form>
  </div>
