<div class="uk-container uk-container-center"  data-ng-init='init()'>
  <input class="inputStyle inputStylebigSize" type="text" placeholder="Search" style="float:right;margin-right:400px;" ng-model = "searchText"></input><br>
  <div class="tm-middle uk-grid">
    <div class="tm-main uk-width-medium-3-4" >
      <div class="uk-grid data-uk-grid-match data-uk-grid-margin">
      <h1 align="center">Welcome to Poly-Chinois</h1><br><br><br>
        <div class="uk-width-medium-1-1">
          <!--=========================article=======================================-->
          <article class="uk-article" style="overflow:hidden; *zoom:1;" ng-repeat = "article in articles | filter:searchText">
            <h1 class="uk-article-title" align="center">{{article.title}}</h1>
            <p class="uk-article-meta">publié en {{article.createdAt}} par {{article.username}}</p>
            <div style="float:left;width:33%; margin-right:2%;">
              <image src="../images/{{article.image}}" style="width:240px; height:170px; margin:0;"></image>
            </div>
            <div style="float:left;width:65%; height:200px; overflow:hidden;">
              <p>{{article.content}}</p> 
              <div class="clear-float"></div>
            </div>
            <a  ng-href="#/detail/{{article.id}}">More..</a>

          </article>
          <!--=========================Fin:article=======================================-->           
        </div> 
      </div>
    </div>
     

  <!--===========================siderbar========================================-->
  <aside class="tm-sidebar-b uk-width-medium-1-4">
    <div class="uk-panel uk-panel-box widget_text enhanced-text-widget">
      <h3 class="uk-panel-title">
        <i class=""></i>
           Polyetch Nice Sophia<br>HE Dan &nbsp;- &nbsp;SUN Quan
      </h3>
      <div class="textwidget widget-text">
        <div style="margin-left:-5px; margin-right:-15px;">
          <p style="margin:6px 0;"></p>
          <p style="margin:6px 0;"></p>
        </div>
      </div>
    </div>
  </aside>
</div>