
<div class="uk-container uk-container-center" ng-app="myDirective" data-ng-init='init()'>
  <div class="tm-middle uk-grid">
    <div class="tm-main uk-width-medium-3-4" >
      <div class="uk-grid data-uk-grid-match data-uk-grid-margin">
        <div class="uk-width-medium-1-1">
        <!--=========================article=======================================-->
          <article class="uk-article" style="overflow:hidden; *zoom:1;">
            <textarea class="inputStyle"style="width:100%; height:auto;" id = "articleTitle" on-change="articleTitle">{{articleTitle}}</textarea>
            <p class="uk-article-meta">publié en {{currentArticle.createdAt}} par {{currentArticle.username}}</p>
            <div style="float:left;width:33%; margin-right:2%;">
              <image src="../images/{{currentArticle.image}}" style="width:240px; height:170px; margin:0;"></image>
            </div>
            <div style="float:left;width:65%; height:300px; overflow:hidden;">
              <textarea class="inputStyle" style="width:100%; height:200px;" on-change="articleContent">{{content}}</textarea>
              <button class="buttonStyle" ng-click="modifier(currentArticle.id, currentArticle.UserId)">Modifier</button>
              <button class="buttonStyle" ng-click="cancel()">Cancel</button>
              <div class="clear-float"></div>
            </div>           
          </article>
        <!--=========================Fin:article=======================================-->

        
          <h1 class=" uk-comment" id = "comments">Comments</h1>
          <h1 class=" uk-comment" id = "noComments" style="display:none">No comments</h1>
          <!--=========================commnets=======================================-->
          <comment style="overflow:hidden; *zoom:1;" ng-repeat = "comment in comments">           
            <p class="uk-article-meta">publié en {{comment.createdAt}} par {{comment.username}}</p>   
            <div>
              <p>{{comment.content}}</p> 
              <p>---------------------------------------------------------------------------------</p>
              <div class="clear-float"></div>
            </div>           
          </comment>
          <!--=========================Fin:commnets=======================================-->

          <!--=========================Ajouter comments=======================================-->
          <comment style="overflow:hidden; *zoom:1;">           
            <input class="inputStyle" type="text"  placeholder="Please input your comments" style="width:100%; height:200px;" ng-model="content"></p>
            <button class="buttonStyle" style="float:right" ng-click="comment(content)">Comment</button>         
          </comment>
          <!--=========================Fin:Ajouter commnets=======================================-->



        </div>
      </div>
    </div>
    

    <!--===========================siderbar========================================-->    
    <aside class="tm-sidebar-b uk-width-medium-1-4" >
      <div class="uk-panel uk-panel-box widget_text enhanced-text-widget">
        <h3 class="uk-panel-title">
          <i class=""></i>
             User Information
        </h3>
        <div class="textwidget widget-text">
          <div style="margin-left:-5px; margin-right:-15px;">
            <p style="margin:6px 0;">Name:{{userInfo.username}}</p>
            <p style="margin:6px 0;">Signup Time:{{userInfo.createdAt}}</p>
            <p style="margin:6px 0;">Nomber of articles:{{numArticle}}</p>
          </div>
        </div>
      </div>
    </aside>
    <!--===========================Fin:siderbar========================================--> 
  </div>
</div>
