<div class="backgroundContainer">
  </br>
    <h1 class="blancfont">Signup</h1>

    <form class="form col-lg-25" name="myform">
      <div class="post-container row">

        <div class="row">
            <input id="usernameReg" type="text" placeholder="Username" ng-model="username"></input>
        </div>


        <div class="row">
            <input type="email" placeholder="Email" pattern="[^ @]*@[^ @]*" value="" ng-model="email" name="myEmail"></input>
        </div>

      
        <div class="row">
            <input type="password" name="myPwd" placeholder="Password" ng-model="pwd"></input>
        </div>

        <div class="row">
            <button id="login-button" type="submit" ng-click="signUp(username, email, pwd)">SignUp</button>
        </div>
      </div>
    </form>
  </div>
